sudo: false
language: node_js
node_js:
  - 6
  - 7.1

before_install:
  - npm set progress=false
  - npm install -g eslint babel-cli istanbul

after_script:
  - istanbul cover ./test/lib/rules/var-spacing.rule.js
